<%- include('./partials/header.ejs') %>
<main>

<h1>CART</h1>


<%if (cartItem === null) {%>

  <h1>empty cart</h1>

<%} else {%>

  <%cartItem.cartItems.forEach((cart, i) => {%>
    <div class="container" id="cartItemsDiv">
      <div class="singleItemDiv">
        <h6><%=cartItem.cartItems[i].name%> $<%=cartItem.cartItems[i].price%></h6>
        <%let id = cartItem.cartItems[i]._id%>
        <form class="" action="/cart/<%=cartItem._id%>/<%=id%>?_method=PUT" method="POST">
            <button class="btn btn-outline-light">X</button>
        </form>
      </div>

    </div>
  <%})%>




  <div class="placeOrder">
    <form class="" action="/cart/<%=cartItem._id%>?_method=DELETE" method="POST">
        <button class="btn btn-outline-light">Place Order</button>
    </form>
  </div>



<%}%>



<%- include('./partials/footer.ejs') %>
</main>
