<%- include('./partials/header.ejs') %>
<main>
<h1><%=items.name%></h1>
<div class='container'>
  <div class='showCard'>

        <table class='showTable' width="100%">
            <tr>
                <td id='imageTdShow' align="left" valign="top">
                  <img id='showCardImg' src="<%=items.img%>"/>
                </td>
                <td id='descriptionTdShow' align="left" valign="top">
                  <p><%=items.description%></p><h5>$<%=items.price%></h5>

                  <% if (currentUser) { %>
                    <% let num = 1 %>
                    <form class="" action="/cart/<%=items.id%>" method="post">

                      <input type="hidden" name="userId" value="<%=currentUser.id%>">
                      <input type="hidden" name="productId" value="<%=items.id%>">
                      <input type="hidden" name="name" value="<%=items.name%>">
                      <input type="hidden" name="description" value="<%=items.description%>">
                      <input type="hidden" name="img" value="<%=items.img%>">
                      <input type="hidden" name="price" value="<%=items.price%>">
                      <input type="hidden" name="quantity" value="<%=num%>">
                      <input type="hidden" name="availability" value="<%=items.availability%>">

                      <button type='submit' class="btn btn-outline-light">ADD TO CART</button>
                    </form>
                  <%}%>


                </td>
              </tr>
          </table>
        </div>
</div>
<div class='backBtnDiv'><a href='/menu'><button class="btn btn-outline-secondary">BACK</button></a></div>
<a href="/menu/<%=items.id%>/edit">Edit</a>
<form method="POST" action="/menu/<%= items.id %>?_method=DELETE">
    <button class="btn btn-link">Delete</button>
</form>

<%- include('./partials/footer.ejs') %>
</main>
