<%- include('./partials/header.ejs') %>
<main>
<h1><%=items.name%></h1>
<div class='container'>
  <div class='showCard'>
    
        <table class='showTable' width="100%">
            <tr>
                <td id='imageTdShow' align="left" valign="top">
                  <img id='showCardImg' src="<%=items.img%>"/>
                </td>
                <td id='descriptionTdShow' align="left" valign="top">
                  <p><%=items.description%></p><h5>$<%=items.price%></h5>
                  <form class="" action="index.html" method="post">
                    <!-- this button will post to shopping cart -->
                    <button class="btn btn-outline-light">ADD TO CART</button>
                  </form>
                </td>
              </tr>
          </table>
        </div>
</div>
<div class='backBtnDiv'><a href='/menu'><button class="btn btn-outline-secondary">BACK</button></a></div>
<a href="/menu/<%=items.id%>/edit">Edit</a>
<form method="POST" action="/menu/<%= items.id %>?_method=DELETE">
    <button class="btn btn-link">Delete</button>
</form>

<%- include('./partials/footer.ejs') %>
</main>
